@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: #334155;
  border: none;
  color: #cbd5e1;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  outline: none;
  padding: 0.5rem 1rem;
}
